<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hins.reader">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.home.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="设置"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".ui.detail.StoryDetailActivity"
            android:label="文章详情"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.bigimage.BigImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.bigimage.PhotoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".ui.detail.GankArticleDetailActivity"
            android:label="Android 文章"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

    </application>

</manifest>